
body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  min-width: 390px;
}

/*HEADER*/

.header {
  background-color: #e62b1b;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
  transition: background-color 0.5s;
  min-width: 390px;
}

.header.fix-header {
  position: fixed;
  background-color: #fff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}

.mobile-header {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s;
  display: flex;
  align-items: flex-end;
  padding: 0 2rem;
}

.mobile-content-wrapper {
  display: table;
  width: 100%;
}

.row {
  display: table-row;
}

.mobile-header a {
  color: black;
  text-decoration: none;
  line-height: 3rem;
  display: table-cell;
  text-align: center;
}

.header.extend-header {
  background-color: white;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}

.header.extend-header .mobile-content-wrapper .language-select {
  color: black;
  display: table-cell;
  text-align: center;
}

.header.extend-header .mobile-content-wrapper .language-select a{
  display: inline-block;
}

.extend-header .mobile-header {
  height: auto;
  max-height: 40vh;
}

.header.extend-header .mobile-menu{
  color: black;
}

.header.extend-header .mobile-menu::after{
  border-color: black;
}

/*.header .menu-bar {
    position:absolute;
    bottom: 0;
    left:0;
    right:0;
}*/

.menu-bar a {
  color: #fff;
  font-size: 1rem;
  text-decoration: none;
  transition: color 0.5s;
}

.menu-bar a:hover {
  color: black;
}

.menu-bar > a {
  padding-right: 2rem;
}

.language-select {
  color: white;
}

.language-select a {
  opacity: 0.5;
  cursor: pointer;
}

.language-select a.active {
  opacity: 1;
}

select {
  border: none;
  outline: none;
  background-color: transparent;
  color: #fff;
  font-size: 1rem;
  -webkit-appearance: none;
  -moz-appearance: none;
}

select option {
    background-color: #e62b1b;
    border: 0;
}

select::-ms-expand {
    display: none;
}

.menu-bar .mobile-menu {
  display: none;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
}

.menu-bar .mobile-menu::after {
  content: " ";
  width: 25px;
  height: 20px;
  background-color: transparent;
  border-top: 4px solid #fff;
  border-bottom: 4px solid #fff;
  display: inline-block;
  vertical-align: middle;
  margin-left: 1rem;
}

/*.mobile-header {
  display: none;
}*/

.close-menu {
  margin-bottom: 2rem;
  cursor: pointer;
}

.close-menu::after {
  content: '\2716';
  margin-left: 1rem;
  font-weight: bold;
  display: inline-block;
}

.fix-header .menu-bar a, .fix-header .language-select {
  color: #1d2021;
}

.fix-header .menu-bar a:hover, .fix-header select:hover {
  color: #e62b1b;
}

.fix-header select option {
  background-color: #fff;
}

.logo {
  height: 6.25rem;
  width: 18.75rem;
  background-color: white;
  float: left;
  transition: height 0.5s;
  background-image: url('images/logo.svg');
  background-repeat: no-repeat;
  background-position: 50%;
}

.fix-header .logo {
  height: 5rem;
}

/*WELCOME*/

.section.welcome {
  background-color: #e62b1b;
  /* maybe we'll make it 100%vh?  */
  /* min-height: 48rem; */
  display: table;
  width:100%;
  min-height: 100vh;
  position: relative;
}
.welcome-content {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
}

.center-welcome-content {
  max-width: 80rem;
  margin: auto;
  position: relative;
  padding-top: 6.25rem;
  padding-bottom: 6.25rem;
}
.scroll-down-content {
  position: absolute;
  bottom: 20px;
  width: 100%;
  opacity: 0;
  left: 0;
  webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.scroll-down-content a {
  color: white;
  text-decoration: none;
}
.scroll-down-content a:hover {
  text-decoration: underline;
}
.tedx {
  font-size: 100px;
  color: #fff;
  text-align: center;
  padding: 0 2rem;
  margin-bottom: 5rem;
  min-height: 140px;
}
.menu-bar {
  max-width: 80rem;
  margin: auto;
  text-align: right;
  line-height: 5rem;
  padding: 0 2rem;
}
.scroll-down, .scroll-down-arrow {
  text-align: center;
  font-size: 10px;
  color: #fff;
  text-transform: uppercase;
}
.scroll-down-arrow {
  display: block;
  margin: auto;
  padding-top: 10px;
}

/*WELCOME X-MARKS*/

.welcome-x-marks {
  height: 50px;
}
.welcome-x-marks .x-mark {
  display: inline-block;
  position: absolute;
  animation-fill-mode: forwards;
  background-image: url('images/white-xmark.png');
  width: 50px;
  height: 50px;
}
.welcome-x-marks .x-mark::after {
  font-size: 4rem;
  color: #fff;
}

.welcome-x-marks.first-row, .welcome-x-marks.second-row {
  width: 50%;
  position: relative;
  float: left;
}

.welcome-x-marks.first-row .x-mark:first-child {
  left: 0;
  animation: first 4s;
}

.welcome-x-marks.first-row .x-mark:nth-child(2) {
  left: 34%;
  animation: second 4s;
}
.welcome-x-marks.first-row .x-mark:nth-child(3) {
  left: 50%;
  animation: third 4s;
}
.welcome-x-marks.first-row .x-mark:nth-child(4) {
  left: 78%;
  animation: fourth 4s;
}
.welcome-x-marks.second-row .x-mark:nth-child(1) {
  left: 10%;
  animation: fifth 4s;
}
.welcome-x-marks.second-row .x-mark:nth-child(2) {
  left: 22%;
  animation: sixth 4s;
}
.welcome-x-marks.second-row .x-mark:nth-child(3) {
  left: 50%;
  animation: seventh 4s;
}
.welcome-x-marks.second-row .x-mark:nth-child(4) {
  right: 0;
  animation: eighth 4s;
}


/*X-MARKS ANIMATON*/
@keyframes first {
  0% {
    opacity: 0
  }

  4% {
    opacity: 0;
  }

  5% {
    opacity: 1;
  }
}

@keyframes second {
  0% {
    opacity: 0
  }

  16% {
    opacity: 0;
  }

  17% {
    opacity: 1;
  }
}

@keyframes third {
  0% {
    opacity: 0
  }

  24% {
    opacity: 0;
  }

  25% {
    opacity: 1;
  }
}

@keyframes fourth {
  0% {
    opacity: 0
  }

  38% {
    opacity: 0;
  }

  39% {
    opacity: 1;
  }
}

@keyframes fifth {
  0% {
    opacity: 0
  }

  54% {
    opacity: 0;
  }

  55% {
    opacity: 1;
  }
}

@keyframes sixth {
  0% {
    opacity: 0
  }

  60% {
    opacity: 0;
  }

  61% {
    opacity: 1;
  }
}

@keyframes seventh {
  0% {
    opacity: 0
  }

  74% {
    opacity: 0;
  }

  75% {
    opacity: 1;
  }
}

@keyframes eighth {
  0% {
    opacity: 0
  }

  99% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/*EVENTS*/

.event-item {
  min-height: 43.75rem;
}

.event-title {
  font-size: 1.875rem;
  margin-bottom: 2.5rem;
}

.event-subtitle, .event-date {
  font-weight: bold;
  font-size: 1rem;
}

.event-subtitle {
  margin-bottom: 2.5rem;
}

.event-date {
  margin-bottom: 1.25rem;
}

.event-info {
  font-size: 0.875rem;
  line-height: 1.43;
}

/* .event-item:first-child {
  background-color: #1d2021;
  color: #fff;
}

.event-item:last-child {
  background-color: #3fb300;
  color: #fff;
} */

.event-info a {
  color: white;
}

/* PREV NEXT */

.event-previous {
   background-image:url(images/events/img-previous.jpg);
   color: #000;
}

.event-upcoming {
   background-color: #1d2021;
   color: #fff;
}

/*ABOUT US*/
/*CONTACT*/

.three-items {
  background: #fff;
  text-align: center;
  padding: 4.5rem 0;
}

.three-items-title {
  font-size: 1.875rem;
  margin-bottom: 3.75rem;
}

.three-items-content {
  width: 270px;
}

.three-items .details {
  max-width: 80rem;
  display: flex;
  flex-flow: row wrap;
  margin: auto;
  text-align: left;
  box-sizing: border-box;
  padding: 0 1.25rem;
}

.three-items .details .item {
  flex: 1;
}

/* .three-items .details .item:first-child {
  margin-right: 0.635rem;
  padding-left: 1.25rem;
}

.three-items .details .item:last-child {
  margin-left: 0.635rem;
  padding-right: 1.25rem;
}

.three-items .details .item:nth-child(2) {
  margin-left: 0.3125rem;
  margin-right: 0.3125rem;
  text-align: center;
} */

.three-items .item-title {
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.three-items .item-text {
  font-size: 0.875rem;
  line-height: 1.43;
  color: #505050;
}

.question {
  font-size: 1.875rem;
  text-align: center;
  color: #1d2021;
  margin: 3rem 0;
}

.answer {
  text-align: center;
}

.answer div {
  height: 48px;
  width: 180px;
  display: inline-block;
  background-color: transparent;
  border: 2px solid #e62b1b;
  color: #e62b1b;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 0.5px;
  line-height: 48px;
}

.answer .active {
  background-color: #e62b1b;
  color: #fff;
}

/* POSTS */

.post {
  position: relative;
}

.post::after {
  transition: opacity 200ms;
  opacity: 0;
}

.post:hover .post-info {
  background-color: #e62b1b;
}

.post-photo, .post-info {
  min-height: 43.75rem;
  color: #ffffff;
  position: relative;
}

.post-info {
  background-color: #1d2021;
  transition: background-color 200ms;
}

.post-photo {
  background-repeat: no-repeat;
  background-color: #1d2021;
  background-position: 50%;
  background-size: cover;
  position: relative;
}

.post-photo img {
  position: absolute;
  height: 100%;
  max-width: 100%;
}

.post:hover .post-photo {
  background-color: #e62b1b;
}

.post-photo-left img{
  right:0;
}

.post-photo-right img{
  left:0;
}

/*PARTNERS*/

.partners {
  background-color: #e62b1b;
}

#partner-modal span {
  text-decoration: underline;
  cursor: pointer;
}

.partners .question {
  text-align: left;
  color: #fff;
  letter-spacing: 1.3;
  margin-bottom: 2.5rem;
  margin-top: 0;
}

.email-label {
  font-size: 0.875rem;
  line-height: 1.43;
  letter-spacing: 0.2px;
  color: #fff;
  margin-bottom: 0.5rem;
}

.email-input {
  width: 100%;
  border: none;
  outline: none;
  background-color: transparent;
  border-bottom: 2px solid #fff;
  text-indent: 1rem;
  color: #fff;
  font-size: 1.25rem;
  display: block;
  margin-bottom: 2rem;
}

.button-container {
  text-align: right;
}

.email-form button {
  width: 9.876rem;
  line-height: 3rem;
  border: solid 2px #ffffff;
  background-color: transparent;
  color: #fff;
  font-size: 1.25rem;
  letter-spacing: 0.7px;
  cursor: pointer;
  text-transform: uppercase;
}

.email-form button:hover {
  background-color: #fff;
  color: #ff0000;
  border-color: #fff;
}

.partner-modal {
  opacity: 0;
  transition: opacity 0.5s;
  display: none;
}

.partner-modal.show-modal {
  position: fixed;
  height: 100vh;
  width: 100%;
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  top: 0;
}

.backdrop {
  width: 100%;
  height: 100%;
  opacity: 0.7;
  background-color: #1d2021;
  position: absolute;
}

.modal {
  margin: auto;
  /* width: 640px; */
  /* height: 800px; */
  background-color: #ffffff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  opacity: 1;
  z-index: 3;
}

/* FOOTER */
.footer {
  background-color: #1d2021;
}

.footer-links {
  margin-bottom: 60px;
  padding-top: 3rem;
  position: relative;
  padding-right: 50px;
  padding-left: 50px;
  line-height: 2;
}

.footer-site-links {
  text-align: center;
  margin-bottom: 60px;
  position: relative;
}

.footer-site-links a {
  color: #fff;
  margin: 0;
  padding: 0 2rem;
  font-size: 1rem;
  text-decoration: none;
}

.footer-site-links a:hover {
  transition: 0.5s ease;
  color: #e62b1b;
}

.footer-social-links {
  text-align: center;
}

.footer-social-links a {
  color: #fff;
  margin: 0;
  padding: 0 0.5rem;
  transition: 0.5s ease;
  font-size: 1rem;
  text-decoration: none;
}

.footer-social-links svg {
  padding-left: 0.5rem;
  transition: 0.5s ease;
  padding-right: 0.5rem;
  margin-top: 2px;
}

.footer-social-links svg:hover g path:nth-child(2) {
  transition: 0.5s ease;
  fill: #e62b1b;
}

.copyrights {
  text-align: center;
  color: #fff;
  font-size: 12px;
}

.copyrights a {
  color: white;
  text-decoration: none;
  /* display: inline-block; */
  border-bottom: 1px solid transparent;    
  width: 0px;
  transition: 0.5s ease;
  white-space: nowrap;
  height: 25px;
}

.copyrights a:hover {
    border-bottom: 1px solid white;
    width: 50px;
}

.copyrights:last-child {
  padding-bottom: 3rem;
}

.footer .button-up {
  width: 40px;
  height: 40px;
  background: transparent;
  border: 2px solid #fff;
  position: absolute;
  right: -1rem;
  padding: 0;
  transform: translateY(-50%);
  top:50%;
}

.footer .button-up:hover::after {
  color: #e62b1b;
  border-color: transparent transparent #e62b1b transparent;
}

.footer .button-up:hover {
  color: #e62b1b;
  border-color: #e62b1b;
}

.footer .button-up::after {
  content: ' ';
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 6px 8px 6px;
  border-color: transparent transparent #fff transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* COMMON */

.container {
  max-width: 80rem;
}

.flex-grid {
  display: flex;
  flex-flow: row wrap;
}

.flex-grid .col-2 {
  flex: 1;
}

.left-align {
  margin-right: auto;
}

.right-align {
  margin-left: auto;
}

.center-align {
  margin: 0 auto;
}

.item-content.right-align {
  padding-right: 6.25rem;
}

.item-content.left-align {
  padding-left: 6.25rem;
}

.item-content {
  max-width: 40rem;
  padding: 3.75rem 1.25rem;
  box-sizing: border-box;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.x-mark {
  background-image: url('images/favicon.png');
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: center;
  width: 200px;
  height: 200px;
}

.center-align .x-mark {
  margin:auto;
}

.center-align .item-title {
  text-align: center;
}

.details .center-align .item-text {
  text-align: center;
}


/* typed.js cursor */
.typed-cursor {
  display: none;
}

@keyframes toHalfTransparent {
  from {
    opacity: 0
  }

  to {
    opacity: 0.5;
  }
}

@media (min-width: 901px) {
  .post-photo {
    background-image: none !important;
  }

  .mobile-header {
    display: none;
  }
}

@media (max-width: 900px) {
  .header {
    position: absolute;
    top: 0;
  }

  .tedx {
    font-size: 75px;
  }

  .post-photo img {
    display: none;
  }

  .language-select {
    display: none;
  }

  .header.fix-header {
    position: absolute;
    background-color: #e62b1b;
    box-shadow: none;
  }

  .menu-bar a, .menu-bar select {
    display: none;
  }

  .menu-bar .mobile-menu {
    display: inline-block;
  }

  .flex-grid .col-2 {
    flex: 1 100%;
  }

  .right-align, .left-align, .center-align {
    margin: 0 auto !important;
    padding : 3rem !important;
  }

  .three-items .details .item {
    flex:  1 100%;
    text-align: center;
    margin-bottom: 2rem;
  }

  .three-items-content, .item-content {
    width: auto;
    max-width: none;
  }

  .reverse-column {
    flex-direction: column-reverse;
  }

  /*.footer .button-up {
    right: 0;
  }*/

  /*.event-title, .three-items-title {
    font-size: 3.75rem;
    word-wrap: break-word;
    word-break: break-all;
  }*/

  /*.event-subtitle, .event-date {
    font-size: 2rem;
    word-wrap: break-word;
    word-break: break-all;
  }*/

  .event-date {
    margin-bottom: 2.5rem;
  }


  /*.three-items .item-title {
    font-size: 3rem;
    word-wrap: break-word;
    word-break: break-all;
  }*/

  /*.event-info, .three-items .item-text {
    font-size: 1.75rem;
    line-height: 1.43;
    word-wrap: break-word;
  }*/

  #contact .item-text {
    word-break: break-all;
  }

  /*.footer-site-links a {
    display: block;
    margin-bottom: 1rem;
  }*/

  .welcome-x-marks.first-row, .welcome-x-marks.second-row {
    width: 100%;
    position: relative;
    float: none;
  }

  .x-mark {
    margin:auto;
  }
}

@media (max-width: 500px) {
  .logo {
    height: 5rem;
    width: 12rem;
  }

  .tedx {
    font-size: 60px;
  }
}

@media (max-width: 349px) {
  .item-text {
    word-break: break-all;
  }
}

/* magnifying glass  */

.magnify {
  width: 40vw;
  position: relative;
  cursor: none
}

/*Lets create the magnifying glass*/
.large {
	width: 175px; height: 175px;
	position: absolute;
	border-radius: 100%;

	/*Multiple box shadows to achieve the glass effect*/
	box-shadow: 0 0 0 7px rgba(255, 255, 255, 0.85),
	0 0 7px 7px rgba(0, 0, 0, 0.25),
	inset 0 0 40px 2px rgba(0, 0, 0, 0.25);

	/*hide the glass by default*/
	display: none;
}

.small {
  max-width: 100%;
  display: block;
}
